*
{
    margin: 0%;
    padding: 0%;
}
nav
{
    background-color: plum;
    height: 100px;
    width: 100%;
}
footer
{
    background-color: plum;
    height: 100px;
    width: 100%;
    padding-bottom: 20px;
}
.img1
{

    padding-top: 50px;
    
}
.img2
{
    padding-top: 40px;
}
.img3
{
    padding-top: 46px;
    padding-left: 100px;
}
.img4
{
    padding-top: 40px;
    padding-left: 125px;
}
.img5
{
    padding-top: 40px;
}
.img6
{
    padding-top: 40px;
}
.img7
{
    padding-top: 40px;
    padding-left: 100px;
}
.img8
{
    padding-top: 20px;
    padding-left: 100px;
    
}
.sec1{
    display: flex;
    padding-left: 650px;
}
.sec2
{
    display: flex;
    padding-left: 600px;
    padding-bottom: 70px;
}
