*{margin : 0; padding: 0;}
html{background-color: rgb(207, 255, 217);}
header
{
    background-color: rgb(12, 86, 234);
    border: 5px chartreuse;
    width: 770px;
    height: 200px;
    float: left;
    border-top: 8px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
.Banner
{
    background-color: white;
    width: 550px;
    height: 190px;
    float: left;
    margin: 5px;
    line-height: 200px;
    text-align: center;
    font-size: 30px;
}
.Logo
{
    background-color: white;
    width: 200px;
    height: 190px;
    float: left;
    margin: 5px;
    line-height: 200px;
    text-align: center;
    font-size: 30px;
}
nav
{
    background-color: rgb(75, 225, 55);
    border: 5px chartreuse;
    width: 770px;
    height: 50px;
    float: left;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
main
{
    background-color: rgb(190, 184, 161);
    border: 5px chartreuse;
    width: 770px;
    height: 205px;
    float: left;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
}
.Article
{
    background-color: white;
    border: 1px rgb(254, 230, 48);
    border-style:solid;
    width: 540px;
    height: 190px;
    float: left;
    margin: 5px;
    line-height: 200px;
    text-align: center;
    font-size: 30px;
}
.Aside
{
    background-color:white;
    border: 1px rgb(254, 230, 48);
    border-style:solid;
    width: 205px;
    height: 190px;
    float: left;
    margin: 5px;
    line-height: 200px;
    text-align: center;
    font-size: 30px;
}
footer
{
    background-color: rgb(255, 191, 0);
    border: 5px chartreuse;
    width: 770px;
    height: 80px;
    float: left;
    border-top: 5px solid black;
    border-bottom: 10px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    
}