*{margin : 0; padding: 0;}
html{background-color: rgba(125, 196, 182, 0.477);}
nav
{
    background-color: rgba(70, 222, 0, 0.862);
    border: 5px chartreuse;
    width: 1000px;
    height: 100px;
    float: left;
    border-top: 15px solid black;
    border-bottom: 15px solid black;
    border-left: 15px solid black;
    border-right: 15px solid black;

}
.BOX
{
    background-color: beige;
    width: 180px;
    height: 80px;
    float: left;
    margin: 10px;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
}
header
{
    background-color: rgb(0, 87, 134);
    width: 1000px;
    height: 300px;
    float: left;
    border-bottom: 15px solid black;
    border-left: 15px solid black;
    border-right: 15px solid black;
}
.Banner
{
    background-color: beige;
    width: 800px;
    height: 280px;
    float: left;
    margin: 10px;
    line-height: 250px;
    text-align: center;
    font-size: 80px; 
}
.header
{
    background-color: beige;
    width: 150px;
    height: 80px;
    float: left;
    margin: 10px;
    line-height: 80px;
    text-align: center;
    font-size: 30px; 
}
main
{
    background-color: rgb(184, 201, 0);
    width: 1000px;
    height: 250px;
    float: left;
    border-bottom: 15px solid black;
    border-left: 15px solid black;
    border-right: 15px solid black;
}
.aside
{
    background-color: beige;
    width: 200px;
    height: 230px;
    float: left;
    margin: 10px;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
}
.articule
{
    background-color: beige;
    width: 500px;
    height: 230px;
    float: left;
    margin: 10px;
    line-height: 80px;
    text-align: center;
    font-size: 30px;
}
footer
{
    background-color: rgb(254, 207, 54);
    width: 1000px;
    height: 80px;
    float: left;
    border-bottom: 15px solid black;
    border-left: 15px solid black;
    border-right: 15px solid black;
}